


    /* Base.html styling */

/* Navbar */
.custom-navbar {
  background-color: #fbfdfe !important;
}


.navbar-nav .nav-link:hover {
  color: #5e17eb !important;
}


.navbar-nav .nav-link.active {
  font-weight: bold;
  color: #5e17eb !important;
}

.navbar-brand img {
  height: 50px;
  width: auto;
}


/* Fonts */
body, .nav-link, .card-text, .navbar-brand {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

/* Headings and card titles */
.card-title {
  font-weight: 800;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;   
}

/* Italic and violet */
.text-muted {
  font-style: italic;
  color: #5e17eb !important;
}


/* About Page styling */
.about-img {
  width: 80vw;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}


.about-text {
  font-size: 1.2rem; 
  line-height: 1.8; 
  max-width: 100%;
}


.about-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.about-text p {
  margin-bottom: 1.25rem;
}

/* General styling  */

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #fbfdfe;
  color: #333;
}

h1, h2, h3, h4, .card-title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.card {
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.btn-outline-primary:hover,
.btn-outline-dark:hover,
.btn-outline-danger:hover,
.btn-success:hover {
  background-color: #5e17eb;
  color: white;
  border-color: #5e17eb;
}


/* Form styling - add/edit books or reviews*/

form label {
  font-weight: 500;
  color: #333;
}

.form-control,
.form-select {
  border-radius: 8px;
  padding: 0.6rem;
  font-family: 'Quicksand', sans-serif;
}

.btn {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}


.card-title-detail {
  font-size: 2rem;
  color: #5e17eb;
}

textarea {
  min-height: 200px;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  resize: vertical;
}