<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ReadFolio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light px-4">
  <a class="navbar-brand" href="/">ReadFolio</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/about/">About</a></li>

      {% if user.is_authenticated %}
        <li class="nav-item nav-link">Hello, {{ user.first_name }}</li>
        <li class="nav-item"><a class="nav-link" href="{% url 'book_list' %}">My Books</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'review_list' %}">My Reviews</a></li> 
        <li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}">Logout</a></li>
      {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Log In</a></li>
      {% endif %}
    </ul>
  </div>
</nav>

<!-- Block Content for different pages-->
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

<!-- Pagination JS Script-->
 {% block scripts %}
    <script>
  document.addEventListener('DOMContentLoaded', function () {
    const toggles = document.querySelectorAll('.toggle-review');

    toggles.forEach(toggle => {
      toggle.addEventListener('click', function (e) {
        e.preventDefault();
        const cardText = this.closest('.card-text');
        const short = cardText.querySelector('.short-review');
        const full = cardText.querySelector('.full-review');
        const fullText = full.querySelector('.full-text');

        short.style.display = 'none';
        fullText.innerText = this.dataset.full;
        full.style.display = 'inline';
      });
    });

    const hideLinks = document.querySelectorAll('.show-less');

    hideLinks.forEach(link => {
      link.addEventListener('click', function (e) {
        e.preventDefault();
        const cardText = this.closest('.card-text');
        const short = cardText.querySelector('.short-review');
        const full = cardText.querySelector('.full-review');

        full.style.display = 'none';
        short.style.display = 'inline';
      });
    });
  });
</script>
 {% endblock %}